In [106]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import joblib
import mlflow
import mlflow.sklearn

In [107]:
import dagshub
dagshub.init(repo_owner='Sandhya234-wq', repo_name='MLOPS-Experiments-with-MLFlow', mlflow=True)

mlflow.set_tracking_uri('https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow')

Initialized MLflow to track repo "Sandhya234-wq/MLOPS-Experiments-with-MLFlow"

Repository Sandhya234-wq/MLOPS-Experiments-with-MLFlow initialized!

In [108]:
df = pd.read_csv(r"C:\Users\hp\Downloads\amazon_delivery.csv")
df

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43734,jlxf819993117,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,11:35:00,11:45:00,Windy,High,motorcycle,Metropolitian,160,Home
43735,aevx342135787,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,19:55:00,20:10:00,Windy,Jam,motorcycle,Metropolitian,180,Jewelry
43736,xnek760674819,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,23:50:00,00:05:00,Cloudy,Low,scooter,Metropolitian,80,Home
43737,cynl434665991,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,13:35:00,13:40:00,Cloudy,High,motorcycle,Metropolitian,130,Kitchen
43738,nsyz997960170,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,17:10:00,17:15:00,Fog,Medium,scooter,Metropolitian,180,Cosmetics

In [109]:
df.head(3)

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports

In [110]:
df.isnull().sum()

Order_ID            0
Agent_Age           0
Agent_Rating       54
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather            91
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
dtype: int64

In [111]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
df['Agent_Rating']= pd.DataFrame(si.fit_transform(df[['Agent_Rating']]))

In [112]:
df['Weather'].fillna(df['Weather'].mode()[0],inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10176\527810482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weather'].fillna(df['Weather'].mode()[0],inplace=True)

In [113]:
df.isnull().sum().sum()

np.int64(0)

In [114]:
df.duplicated().sum()

np.int64(0)

In [115]:
df.describe()

,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Delivery_Time
count,43739.000000,43739.00000,43739.000000,43739.000000,43739.000000,43739.000000,43739.000000
mean,29.567137,4.63378,17.210960,70.661177,17.459031,70.821842,124.905645
std,5.815155,0.33451,7.764225,21.475005,7.342950,21.153148,51.915451
min,15.000000,1.00000,-30.902872,-88.366217,0.010000,0.010000,10.000000
25%,25.000000,4.50000,12.933298,73.170283,12.985996,73.280000,90.000000
50%,30.000000,4.70000,18.551440,75.898497,18.633626,76.002574,125.000000
75%,35.000000,4.90000,22.732225,78.045359,22.785049,78.104095,160.000000
max,50.000000,6.00000,30.914057,88.433452,31.054057,88.563452,270.000000

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43739 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43739 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB

In [117]:
pip install geopy

Requirement already satisfied: geopy in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [118]:
#Use geolocations to calculate distance between store and drop point:

from geopy.distance import geodesic

def compute_distance(row):
    store = (row['Store_Latitude'], row['Store_Longitude'])
    drop = (row['Drop_Latitude'], row['Drop_Longitude'])
    return geodesic(store, drop).km

df['Distance_km'] = df.apply(compute_distance, axis=1)

In [119]:
print(df[['Store_Latitude', 'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude', 'Distance_km']].head())

   Store_Latitude  Store_Longitude  Drop_Latitude  Drop_Longitude  Distance_km
0       22.745049        75.892471      22.765049       75.912471     3.020737
1       12.913041        77.683237      13.043041       77.813237    20.143737
2       12.914264        77.678400      12.924264       77.688400     1.549693
3       11.003669        76.976494      11.053669       77.026494     7.774497
4       12.972793        80.249982      13.012793       80.289982     6.197898

In [120]:
df['Order_Time'].fillna(pd.Timestamp("2023-01-01"), inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10176\2811597692.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_Time'].fillna(pd.Timestamp("2023-01-01"), inplace=True)

In [121]:
df['Order_Date']=df['Order_Date'].astype('datetime64[ns]')
df['Pickup_Time']=df['Pickup_Time'].astype('datetime64[ns]')

In [122]:
#Extract Time Features
df['Order_Time'] = pd.to_datetime(df['Order_Time'], errors='coerce')
df['Pickup_Time'] = pd.to_datetime(df['Pickup_Time'], errors='coerce')

df['Order_Hour'] = df['Order_Time'].dt.hour
df['Order_Day'] = df['Order_Time'].dt.day
df['Pickup_Delay_Minutes'] = (df['Pickup_Time'] - df['Order_Time']).dt.total_seconds() / 60.0

C:\Users\hp\AppData\Local\Temp\ipykernel_10176\688178245.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Time'] = pd.to_datetime(df['Order_Time'], errors='coerce')

In [123]:
df['Delivery_Time']=df['Delivery_Time'].astype('datetime64[ns]')

In [124]:
df.columnsselected_features = [
    'Agent_Age',
    'Agent_Rating',
    'Weather',
    'Traffic',
    'Vehicle',
    'Area',
    'Category',
    'Distance_km',
    'Order_Hour',
    'Order_Day',
    'Pickup_Delay_Minutes'
]

C:\Users\hp\AppData\Local\Temp\ipykernel_10176\981118761.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.columnsselected_features = [

In [125]:
columns_to_drop = ['Order_ID', 'Order_Date','Order_Time', 'Pickup_Time', 'Store_Latitude', 'Store_Longitude','Drop_Latitude','Drop_Longitude']
df.drop(columns=columns_to_drop, inplace=True)

In [126]:
df.columns

Index(['Agent_Age', 'Agent_Rating', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Delivery_Time', 'Category', 'Distance_km', 'Order_Hour', 'Order_Day',
       'Pickup_Delay_Minutes'],
      dtype='object')

In [127]:
from sklearn.model_selection import train_test_split

x = df.drop(columns=['Delivery_Time'])  
y= df['Delivery_Time']                

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [128]:
x.columns

Index(['Agent_Age', 'Agent_Rating', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Category', 'Distance_km', 'Order_Hour', 'Order_Day',
       'Pickup_Delay_Minutes'],
      dtype='object')

In [129]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [130]:
from sklearn.ensemble import  GradientBoostingRegressor

In [131]:
#evaluate models

#  DATA 
target = 'Delivery_Time'
X = df.drop(columns=target)
y = df[target]
x_train, x_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [132]:
from sklearn.ensemble import RandomForestRegressor

In [133]:
#  PREPROCESSING 
cat_cols = ['Weather', 'Traffic', 'Vehicle', 'Area', 'Category']
num_cols = ['Order_Hour', 'Order_Day', 'Distance_km']

preprocess = ColumnTransformer([
    ('num', Pipeline([
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ]), num_cols),
    ('cat', Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ]), cat_cols)
])

In [134]:
# Build pipeline with model
model = Pipeline([
    ('prep', preprocess),
    ('reg', GradientBoostingRegressor(n_estimators=100, random_state=42))  # or any one model
])

In [135]:
#MODELS TO TRY
models = {
    'LinearRegression': LinearRegression(),
    'RandomForest': RandomForestRegressor(n_estimators=100, random_state=42),
    'GradientBoosting': GradientBoostingRegressor(n_estimators=100, random_state=42)
}

In [88]:
!pip install dagshub

Requirement already satisfied: dagshub in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (0.5.10)
Requirement already satisfied: PyYAML>=5 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (6.0.2)
Requirement already satisfied: appdirs>=1.4.4 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (1.4.4)
Requirement already satisfied: click>=8.0.4 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (8.2.1)
Requirement already satisfied: httpx>=0.23.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (0.28.1)
Requirement already satisfied: GitPython>=3.1.29 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (3.1.44)
Requirement already satisfied: rich>=13.1.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (14.0.0)
Requirement already satisfied: dacite~=1.6.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (1.6.0)
Requirement already satisfied: tenacity>=8.2.2 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (9.1.2)
Requirement already satisfied: gql[requests] in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (3.5.3)
Requirement already satisfied: dataclasses-json in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (0.6.7)
Requirement already satisfied: pandas in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (2.3.0)
Requirement already satisfied: treelib>=1.6.4 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (1.8.0)
Requirement already satisfied: pathvalidate>=3.0.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (3.3.1)
Requirement already satisfied: python-dateutil in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (2.9.0.post0)
Requirement already satisfied: boto3 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (1.39.2)
Requirement already satisfied: semver in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (3.0.4)
Requirement already satisfied: dagshub-annotation-converter>=0.1.5 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub) (0.1.10)
Requirement already satisfied: colorama in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from click>=8.0.4->dagshub) (0.4.6)
Requirement already satisfied: lxml in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub-annotation-converter>=0.1.5->dagshub) (6.0.0)
Requirement already satisfied: pillow in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub-annotation-converter>=0.1.5->dagshub) (11.3.0)
Requirement already satisfied: pydantic>=2.0.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub-annotation-converter>=0.1.5->dagshub) (2.11.7)
Requirement already satisfied: typing-extensions in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dagshub-annotation-converter>=0.1.5->dagshub) (4.14.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from GitPython>=3.1.29->dagshub) (4.0.12)
Requirement already satisfied: anyio in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from httpx>=0.23.0->dagshub) (4.9.0)
Requirement already satisfied: certifi in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from httpx>=0.23.0->dagshub) (2025.6.15)
Requirement already satisfied: httpcore==1.* in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from httpx>=0.23.0->dagshub) (1.0.9)
Requirement already satisfied: idna in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from httpx>=0.23.0->dagshub) (3.10)
Requirement already satisfied: h11>=0.16 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from httpcore==1.*->httpx>=0.23.0->dagshub) (0.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from rich>=13.1.0->dagshub) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from rich>=13.1.0->dagshub) (2.19.2)
Requirement already satisfied: six>=1.13.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from treelib>=1.6.4->dagshub) (1.17.0)
Requirement already satisfied: botocore<1.40.0,>=1.39.2 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from boto3->dagshub) (1.39.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from boto3->dagshub) (1.0.1)
Requirement already satisfied: s3transfer<0.14.0,>=0.13.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from boto3->dagshub) (0.13.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dataclasses-json->dagshub) (3.26.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from dataclasses-json->dagshub) (0.9.0)
Requirement already satisfied: graphql-core<3.2.7,>=3.2 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gql[requests]->dagshub) (3.2.6)
Requirement already satisfied: yarl<2.0,>=1.6 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gql[requests]->dagshub) (1.20.1)
Requirement already satisfied: backoff<3.0,>=1.11.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gql[requests]->dagshub) (2.2.1)
Requirement already satisfied: requests<3,>=2.26 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gql[requests]->dagshub) (2.32.4)
Requirement already satisfied: requests-toolbelt<2,>=1.0.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gql[requests]->dagshub) (1.0.0)
Requirement already satisfied: numpy>=1.26.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pandas->dagshub) (2.3.1)
Requirement already satisfied: pytz>=2020.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pandas->dagshub) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pandas->dagshub) (2025.2)
Requirement already satisfied: sniffio>=1.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from anyio->httpx>=0.23.0->dagshub) (1.3.1)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from botocore<1.40.0,>=1.39.2->boto3->dagshub) (2.5.0)
Requirement already satisfied: smmap<6,>=3.0.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from gitdb<5,>=4.0.1->GitPython>=3.1.29->dagshub) (5.0.2)
Requirement already satisfied: mdurl~=0.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich>=13.1.0->dagshub) (0.1.2)
Requirement already satisfied: packaging>=17.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json->dagshub) (25.0)
Requirement already satisfied: annotated-types>=0.6.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pydantic>=2.0.0->dagshub-annotation-converter>=0.1.5->dagshub) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pydantic>=2.0.0->dagshub-annotation-converter>=0.1.5->dagshub) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from pydantic>=2.0.0->dagshub-annotation-converter>=0.1.5->dagshub) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from requests<3,>=2.26->gql[requests]->dagshub) (3.4.2)
Requirement already satisfied: mypy-extensions>=0.3.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json->dagshub) (1.1.0)
Requirement already satisfied: multidict>=4.0 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from yarl<2.0,>=1.6->gql[requests]->dagshub) (6.6.3)
Requirement already satisfied: propcache>=0.2.1 in g:\gitdemo\mlops-experiments-with-mlflow\venv\lib\site-packages (from yarl<2.0,>=1.6->gql[requests]->dagshub) (0.3.2)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [136]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [137]:
# TRAIN, PREDICT, EVALUATE
for amazon, reg in models.items():

    pipe = Pipeline([('prep', preprocess), ('reg', reg)])
    with mlflow.start_run(run_name=amazon):
        pipe.fit(x_train, y_train)
        preds = pipe.predict(x_test)

        mae = mean_absolute_error(y_test, preds)
        rmse = mean_squared_error(y_test, preds)
        r2 = r2_score(y_test, preds)

        print(f"{amazon:17}  MAE: {mae:.2f}  RMSE: {rmse:.2f}  RÂ²: {r2:.3f}")
        # Log metrics to MLflow

        
        mlflow.log_param("model_name", amazon)
        mlflow.log_metric("MAE", mae)
        mlflow.log_metric("RMSE", rmse)
        mlflow.log_metric("R2", r2)

LinearRegression   MAE: 30.05  RMSE: 1407.77  RÂ²: 0.472
ðŸƒ View run LinearRegression at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0/runs/a11b505603794ae894832bab4fcae715
ðŸ§ª View experiment at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0
RandomForest       MAE: 25.39  RMSE: 1104.57  RÂ²: 0.585
ðŸƒ View run RandomForest at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0/runs/0000383b71d946b58b171b468b97bdc9
ðŸ§ª View experiment at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0
GradientBoosting   MAE: 24.96  RMSE: 1022.07  RÂ²: 0.616
ðŸƒ View run GradientBoosting at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0/runs/4f15ca642e65478cbca688088865e25d
ðŸ§ª View experiment at: https://dagshub.com/Sandhya234-wq/MLOPS-Experiments-with-MLFlow.mlflow/#/experiments/0

In [138]:
#mlflow.sklearn.log_model(pipe, artifact_path="model")

In [140]:
import joblib
joblib.dump(pipe, "model_4.pkl")

['model_4.pkl']